$bg-color-a:#d5ece8;
$bg-color-a-lightest:lighten($bg-color-a,8%);
$bg-color:#f3faff;
$content-color:#f5f5f5;
$subt-color:rgb(47,86,164);
$subt-line-color:darken($subt-color,20%);
$primary-color:#111;
$border-color:#c8c8c8;
$bgm-size:30px;
$bgm-position:20px;